<!DOCTYPE html>
<html>
  <head>
    <title>DevBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-wrapper">
      <ul class="navbar-list">
        <li><%= link_to 'Blog', posts_path %></li>
        <li><%= link_to 'New', new_post_path %></li>
        <li>Login</li>
        <li>Logout</li>
      </ul>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div class="footer-wrapper">
      <ul class="footer-list">
        <li>© Dave Guymon, 2020</li>
      </ul>
    </div>
  </body>
</html>
